/***common**/
.hide{
display:none;
}
.red {
    color: red;
    padding-right: 6px;
    font-family: "????";
    font-weight: normal;
}
a,a:hover{color:#333;}

.breadcrumb {
    background: #f1f1f1;
    margin: 10px 0 16px;
    padding: 2px;
}
.breadcrumb .subtitle{
font-size: 16px;
font-weight: 700;
margin-left: 10px;
color: #de4043;
}

/****frame*****/
html,body{
background-color:#fff;
width: 100%;
height: 100%;
}
 
.container,.footer{
min-width:980px;
}
.container,.header,.content,.footer{
width:100%;
position:relative;	
}

.container{
    min-height: 100%;
    _height: 100%;
}
.container-footer-bottom-bak{
min-height: 100%;
_height: 100%;
}
.header{
background-color:#fff;
height:78px;
margin-bottom: 12px;
}
.content{
    padding: 0 0 112px;
    zoom: 1;
}
.footer{
overflow:hidden;
margin-top:-112px;
margin-bottom:12px;
background-color: #fff;    
height: 100px;


}
.header-inner,.content-inner,.footer-inner,.login-header,.login-content,.footer .links,.footer .copyright{
width:90%;
max-width:1400px;
margin:0 auto;
background-color:#fff;	
overflow:hidden;
position:relative;
}
.content-inner,.leftbar{
padding-bottom:20px;
}

/*** header ***/
.header-inner{

}
.logo {
float: left;
height:100%;
}
.logo a{
font-size: 0;
padding-top: 10px;
}
.logo img{
    height: 58px;
    margin-top: 4px;
	
}
.main-menu{
margin-top: 10px;
margin-right:50px;
float:right;
}
.main-menu li {
float:left;
margin-left:6px;
}
.main-menu li a{
color:#555;
padding: 10px 38px;
font-size:16px;
font-weight:800;
}
.main-menu li a:hover, .main-menu li.active a{
background-color:#e4393c;
color:white;
}

.account {
float: right;
padding-top:20px;
}
.account a{
float:left;
margin-left:16px;
font-size:14px;
    color: #7f96ac;
}
.account .avatar {
background-color: #f0f0f0;
font-size:0;
}
.account .avatar img{
    width: 38px;
    height: 38px;
    border: 1px solid #e0e0e0;
}
.account .nickname , #logout{
padding-top: 12px;
}

/*******leftbar *******/

.leftbar{
position: relative;
float: left;
width: 190px;
margin-right: -190px;
}

.menu {
margin-top: 6px;
padding-bottom: 6px;
padding-top: 6px;
border-top: 1px solid #e7e7eb;
}
.menu .active a{
color:#e4393c;
font-weight:800;
}
.menu.no_extra{
border-top-width:0;
}
.menu_title {
    position: relative;
    padding: 0 30px 0;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 32px;
    color: #8d8d8d;
}
.menu_item {
    line-height: 32px;
}
.menu_item a {
    display: block;
    padding: 0 0 0 58px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #222;
	font-size:14px;
}
.menu_item a:hover{
background-color:#e7e8eb;
background-color:#e4393c;
color:white;
}


/******content *****/

.main{
float: right;
width: 100%;
}
.main-content{
margin-left: 210px;

}

/*******footer *******/
 
.footer .links,.footer .copyright{
max-width:560px;
text-align:center;
}
.footer .links{
padding-top: 38px;
margin-bottom: 20px;
}
.footer .links a{
width: 15%;
background: white;
display:inline-block;
*display:inline;
*zoom:1;
}



/******login*********/

.nav-2,.nav-1{
width:100%;
height: 10px;
position:absolute;
left:0;
z-index:99;
background: url(../images/reg_bg.png) no-repeat center top;
}
.nav-1{
background: url(../images/reg_bg1.png) no-repeat center top;
}
.login-wrapper{
position:relative;	
width:100%;
background-color:#fff;
margin-top:0;
padding: 0 0 100px;
zoom: 1;
}
.login-header{
height:60px;
padding:10px 0;
}
.login-header,.login-content{
max-width:1000px;
}

.login-header a.login-logo{
font-size:0;
float:left;
width:316px;
margin-top: 6px;
}
.login-header a img{
height:56px;
}
.login-header em{
font-size: 20px;
border-left: 1px solid silver;
padding-left: 16px;	
float:left;
margin:22px 20px 0 0;
}
.login-header a.regist-link, .login-header span{
float:left;
padding-top:32px;	
}
.login-header span{
color: #969696;	
}
.login-header a.regist-link{ 
color: red;
font-family: "\5fae\8f6f\96c5\9ed1";
}

.login-content{
padding: 44px 0;
}
.login-image{
float:left;
width:100%;
}
.login-image-inner{
margin-right:370px;
overflow: hidden;	
}
.login-image-inner img{
height:100%;
}
.login-form2{
position:relative;
float:right;
width:340px;
margin-left:-344px;	
margin-top:36px;
overflow:hidden;
background:white;
border:2px solid #e6e6e6;
border-top:2px solid red;
box-sizing:border-box;
}
.login-form{
position:relative;
float:right;
width:340px;
margin-left:-344px;	
margin-top:36px;
overflow:hidden;
background:white;
box-sizing:border-box;
}
.login-box{
padding:20px;
}
.login-box i.error{
border-right-color: #e4393c;
background: #FFF2F2;
color: #FF7777;
}
.login-title{
height: 32px;
font-size: 16px;
text-align:center;
border-bottom: 1px solid silver;
cursor:pointer;

}
 
.login-msg{
margin:10px 0px;
background: #ffebeb;
color: #e4393c;
border: 1px solid #e4393c;
padding-top: 2px;
display:none;
}
.msg-warn{
background: #FFF5D3;
color: #666;
border: 1px solid #ffe57d;
padding: 2px 0px;
margin :6px 2px;
}

.login-name, .login-pwd, .reg-phone, .reg-mcode, .reg-code, .login-code, .reg-pwd{
height: 38px;
margin:16px 0px 12px 0px;
font-size:14px;
}
.login-name, .login-pwd, .login-code{
margin:20px 0 18px 0;
overflow:hidden;
} 
.loginname, .loginpwd, .regname, .regpwd, .regmcode, .regcode, .regphone, .logincode{
padding: 8px 0px 6px 10px;
border: 1px solid #CFCFCF;
width: 250px;
overflow: hidden;
float:left;
display:block;
height:22px;
}
.login-code{
display:none;
}
.login-code .login-captcha, .reg-code .reg-captcha{
cursor:pointer;
height: 36px;
float:left;
line-height: 36px;  
padding-left: 8px;
}
.loginname, .loginpwd{
padding-left:52px;
width:242px;
}
.login-name{
margin-top:22px;
}
.regmcode, .regcode{
width:100px;
}
.reg-code .code-change{
float: left;
width: 150px;
}

.reg-error{
text-align: center;
width: 200px;
margin: 0 auto;
margin-top:-10px;
background: #ffebeb;
color: #e4393c;
border: 1px solid #e4393c;
padding: 2px 0px;
display: none;
}
.login-li{
margin:6px 0 12px 6px;
width:288px;
overflow:hidden;
}

.reg-form .login-btn{
margin-top:6px;
}
.login-btn, .reg-btn{
display: block;
width: 296px;
background: #e4393c;
height: 38px;
line-height: 38px;
font-size: 20px;
font-family: "\5fae\8f6f\96c5\9ed1";
text-align:center;
margin:6px auto;
cursor:pointer;
color: white;
border: none;
}
.login-btn a, .reg-btn a{
color:#fff;
}
.login-code span{
line-height: 30px;
height: 30px;
padding: 5px 2px 0px 8px;
position: absolute;
display:inline;
color:rgb(237, 20, 91);
font-size:12px;
cursor:pointer;
}
.logincode{
width:126px;
}


/**********reg*********/

.reg-form{
width:558px;
background:white;
float:left;
margin-right: -558px;
}
.reg-image{
width: 100%;
float: right;
margin-top: 30px;
}

.reg-image-inner{
margin-left: 558px;
}
.reg-box{
width:538px;
padding:2px 10px 30px 10px;
}

#reg_form{
margin-bottom:10px;
}
.reg-form label{
width:136px;
display:block;
text-align:right;
color: #999;
padding :8px 0 0 6px;
float:left;
}
.reg-form span , .reg-form em{
padding:4px 12px 2px 12px;;
font-size:12px;
line-height: 30px;
}
.reg-form span{
min-width:200px;
display:none;
position: absolute;
margin-left:12px;
}

.reg-form .reg-msg{
margin: 0 auto;
background: #ffebeb;
border: 1px solid #e4393c;
width:280px;
margin-top:2px;
visibility:hidden;
}
.reg-form .reg-msg span{
display:inline;
position: relative;
margin-left: 0;
padding:0;
}
.reg-form em{
float:left;
cursor:pointer;
}
.reg-form .tips, .reg-form .tips-s{
border: 1px solid #E2DDDD;
background:#f4f4f4;	 
display:inline;
}
.reg-form .tips-s{
width:180px;
overflow:hidden;
}
.reg-form .tips-s em{
background: #f4f4f4;
width: 62px;
height: 22px;
position: absolute;
left: 92px;
}
.reg-form .errors{
border: 1px solid #f00;
display: inline;
background:#FFEBEB;
}
.reg-pwd{
margin-top:32px;
}
.getcode {
    width: 112px;
    float: left;
    text-align: center;
    padding: 4px 12px;
    background-color: #f4f4f4;
    margin-left: 10px;
    border: 1px solid #dddddd;
}


.service-agreement{
width:170px;
margin:22px auto;
}
.service-agreement a{
 color: #005AA0;
 display: inline;
}



/*** 首页  ******/


.summary-card{
margin-left: 8px;
margin-top: 10px;
overflow: hidden;
}
.summary-card li {
float:left;
color:#555;
width:20%;
height: 90px;
margin-right:6px;
}

.dashboard-stat {
overflow: hidden;
}
.dashboard-stat.blue-madison {
    background-color: #578ebe;
}
.dashboard-stat.red-intense {
    background-color: #e35b5a;
}
.dashboard-stat.green-haze {
    background-color: #44b6ae;
}
.dashboard-stat.purple-plum {
    background-color: #8775a7;
}
.dashboard-stat.blue-madison .details .number ,
.dashboard-stat.red-intense .details .number ,
.dashboard-stat.green-haze .details .number ,
.dashboard-stat.purple-plum .details .number

{
    color: #FFFFFF;
}
.dashboard-stat .details {
margin-right:22px;
}
.dashboard-stat .details .number {
    padding-top: 22px;
    text-align: right;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
}
.dashboard-stat.blue-madison .details .desc ,
.dashboard-stat.red-intense .details .desc ,
.dashboard-stat.green-haze .details .desc ,
.dashboard-stat.purple-plum .details .desc
 {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 300;
}


/***wenzhanglibiao****/
#article_list{
 
}

#article_list li{
overflow:hidden;
padding:8px 0 4px 30px;
}
#article_list a, #article_list span{
float:left;
}
#article_list .number{
width:8%;
 
font-weight: normal;
}
#article_list .tag{
width:16%;
}
#article_list a.article_list_title{
	width:56%;
    min-width: 380px;
    max-width: 580px;
}
#article_list .view_number{
   width:10%;
}
#article_list .collect{
width:30px;
}


/***article edit ***/

#article_edit dl{
	margin:20px 0;
}
#article_edit dt, #article_edit dd label{ 
    line-height: 34px;
    height: 34px;
}
#article_edit dt{
	width: 80px;
	text-align:right;
	margin-right:12px;
}
#article_edit dd label{
	 color:#929292;
	 font-size: 12px;
	 margin-left: 20px;
}
#article_edit  dl,#article_edit dt,#article_edit dd{
	overflow:hidden;
}
#article_edit dt,#article_edit  dd{
	float:left;
}
#article_edit dd input{
	height: 20px;
}
#article_edit .tcal , #article_edit .ar_text_input{
width: 400px;
padding: 6px 0px 6px 10px;
border: 1px solid #CFCFCF;
overflow: hidden;
float: left;
display: block;
}
#article_edit .tcal {
width:200px;
float:left;
}

#article_edit  .ke-container{
padding: 6px 22px;
}
#article_edit .single_upload .ke-upload-file{
cursor:pointer;
}

 /*
 #article_edit .single_upload .ke-button-common{
 background: #CFCFCF; height:36px;
 }

 #article_edit .single_upload span.ke-button-common{
    overflow: hidden;
    display: block;
    float: left;
	background:red;
 }
 #article_edit .single_upload input.ke-button-common{
 
background: #CFCFCF;
background: red;
 height:36px;
 line-height:36px;
 
 }
 
#article_edit  .single_upload .ke-upload-area {
height:36px;
}
#article_edit  .single_upload  {
margin-right:   12px;
float: left;
display:block;
background: #CFCFCF;

}
*/
 